
    
            *{
    margin: 0;
    padding: 0;
   
}
body{
    
   background: url(../imagenes/imagesn/cos.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   
   
}


@media (max-width:900px){

    body{
         background-image: url(../imagenes/imagesn/cos.jpg);
         background-size: auto;
        
        
    }

}

    